.myimg {
    width: 150px;
    aspect-ratio: 1/1.5;
}

.Star {
    color: gold;
}

.mybody{
    padding: 25px;
}

.mycard {
    border: 1px solid rgba(67, 67, 67, 0.638);
    border-radius: 10px;
    background-color: rgb(79, 78, 78);
    box-shadow: 0px 0px 5px 4px rgb(47, 47, 47);
    color: white;
}

body {
    background-color: rgb(18, 15, 15);
    
}

.mylogo {
    font-size: 40px;
    color: rgb(172, 19, 19);
}

.mybgBlack {
    background-color: black;
}
